---
title: Color Coded
---

<header class="col-sm-12 col-md-12 col-lg-12">
  <nav class="navbar col-sm-10 col-md-10 col-lg-8">
    <a href="/" class="logo"><%= render_partial "partials/svg/logo.svg" %></a>
    <div class="menu-items col-sm-8 col-md-8 col-lg-10">
      <ul class="col-sm-6 col-md-6 col-lg-12" style="float: right;">
        <li class="col-sm-6 col-md-5 col-lg-3"><a href="#about">About</a></li>
        <li class="col-sm-6 col-md-5 col-lg-3"><a href="#schedule">Schedule</a></li>
        <li class="col-sm-6 col-md-5 col-lg-3"><a href="#faq">FAQ</a></li>
        <li class="col-sm-6 col-md-5 col-lg-3"><a href="#register">Register</a></li>
      </ul>
    </div>
  </nav>
</header>

<div class="row m-content about">

  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="col-sm-10 col-md-10 col-lg-8 box card">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <%= render_partial "partials/card.html.erb" %>
      </div>
    </div>
  </div>

  <a name="about"></a>
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="col-sm-12 col-md-10 col-lg-8 box about">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <%= render_partial "partials/about.html.erb" %>
        <%= render_partial "partials/register.html.erb" %>
      </div>
    </div>
  </div>

  <a name="schedule"></a>
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="col-sm-12 col-md-10 col-lg-8 box schedule">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <%= render_partial "partials/schedule.html.erb" %>
      </div>
    </div>
  </div>
  <a name="faq"></a>
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="col-sm-12 col-md-10 col-lg-8 box">
      <h1>FAQ</h1>
        <div class="col-sm-12 col-md-12 col-lg-12">
          <%= render_partial "partials/faq" %>
        </div>
    </div>
  </div>

  <a name="register"></a>
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="col-sm-12 col-md-10 col-lg-8 box">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <%= render_partial "partials/register.html.erb" %>
      </div>
    </div>
  </div>
</div>
<div>
<%= render_partial "partials/footer.html.erb" %>
</div>